@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  /* outline: 1px dotted red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffcf96;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #ff8080;
  font-size: 54px;
  font-family: 'Single Day', cursive;
  text-align: center;
  margin-top: 32px;
}

.container {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  border: 12px solid #ff8080;
  border-radius: 12px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 32px;
}

.item {
  border: 1px solid #c7c8cc;
  box-sizing: border-box;
  background: #ffffff;
}

.settings,
.reset {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reset {
  margin: 12px 0;
}

button {
  outline: none;
  border: none;
  padding: 12px 24px;
  font-size: 12px;
  background: #f6fdc3;
  color: #1f2544;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #cdfadb;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #515153;
}

footer a {
  color: #515153;
}
